<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Storage</title>
	<link href="/smartstorage/public/styles/css/bootstrap.css" rel="stylesheet">
</head>     
<body>
<main class="position-absolute position-absolute top-50 start-50 translate-middle w-50 p-3">
	<form action="/smartstorage/login" method="post">
		<div class="container">
			<div class="col-6 bg-light mx-auto border rounded-3 border-1">
				<div class="container p-4">
					  <div class="mb-3">
						<label for="login" class="form-label">Email address</label>
						<input type="email" name="login" class="form-control" id="login" aria-describedby="emailHelp">
					  	</div>
					  	<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input type="password" name="password" class="form-control" id="password">
					  	</div>
                     	<button type="submit" class="w-100 btn btn btn-light border-2 border-dark mt-2" type="submit">
                        <label class="text-dark">Sign in</label>
					  	</button>

                        <a class="w-100 btn btn-primary mt-2" href="http://localhost/smartstorage/register/">
							<label class="text-white">Register page</label>
						</a>
                    <div class="mt-3 text-danger text-center"><!-- .$error --></div>
				</div>
			</div>
		</div>
	</form>
</main>
</body>
</html>