<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Storage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
      
    
    
    <nav class="navbar bg-info bg-opacity-25 shadow-sm">
        <h1 class="display-6 mx-3 text-primary">
            <i>Smart </i><i class="text-info">Storage</i>
        </h1>
        <a class="btn btn-sm btn-danger mx-2" href="http://localhost/smartstorage/logout/" type="button">Выход</a>
    </nav>
      
      
      
    <div class="container m-auto">

		<div class="row mt-4">
          
            <div class="col-3">
                <div class="list-group shadow">

                    <!-- форма добавления файла -->
                    <form action="http://localhost/smartstorage/newFile/" method="post" enctype="multipart/form-data">
                        
                        <div class="list-group-item bg-light">
                            <input type="file" name="file" class="form-control form-control-sm m-1">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="file_rights" value="private" id="f1" checked>
                                <label class="form-check-label" for="f1">Private</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="file_rights" value="public" id="f2">
                                <label class="form-check-label" for="f2">Public</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="file_rights" value="protected" id="f3" data-bs-toggle="collapse" data-bs-target="#collapse_file_protected" aria-expanded="false" aria-controls="collapse_file_protected">
                                <label class="form-check-label" for="f3">Protected</label>
                            </div>
                            <div class="collapse" id="collapse_file_protected">
                                <select name="list_of_users[]" multiple="multiple" class="form-select form-select-sm m-1" aria-label=".form-select-sm example" placeholder="Список пользователей">
                                    <option selected value="<!-- .$user_now -->"><!-- .$user_now --></option>
                                    <!-- list_users_cycle -->
                                    <option value="<!-- .$user -->"><!-- .$user --></option>
                                        <!-- list_users_cycle_ends -->
                                </select>
                            </div>                     
                            <button type="submit" name="add_file" class="btn btn-sm border-2 btn-outline-success m-1">Добавить файл</button>
                        </div>

                    </form>
        
                    <!-- форма добавления каталога -->
                    <form action="http://localhost/smartstorage/newCatalog/" method="post">

                        <div class="list-group-item bg-light">
                            <input type="text" name="catalog" class="form-control m-1" placeholder="Назавание добавляемого каталога">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="catalog_rights" value="private" id="c1" checked>
                                <label class="form-check-label" for="c1">Private</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="catalog_rights" value="public" id="c2">
                                <label class="form-check-label" for="c2">Public</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="catalog_rights" value="protected" id="c3" data-bs-toggle="collapse" data-bs-target="#collapse_catalog_protected" aria-expanded="false" aria-controls="collapse_catalog_protected">
                            <label class="form-check-label" for="c3">Protected</label>
                            </div>
                            <div class="collapse" id="collapse_catalog_protected">
                                <select name="list_of_users[]" multiple="multiple" class="form-select form-select-sm m-1" aria-label=".form-select-sm example" placeholder="Список пользователей">
                                    <option selected value="<!-- .$user_now -->"><!-- .$user_now --></option>
                                    <!-- list_users_cycle -->
                                    <option value="<!-- .$user -->"><!-- .$user --></option>
                                    <!-- list_users_cycle_ends -->
                                </select>
                            </div>
                            <button type="submit" name="add_cat" class="btn btn-sm border-2 btn-outline-success m-1">Добавить каталог</button>
                        </div>

                    </form>
                </div>
            </div>
        
            <div class="col">
            
                

                <!-- форма для взаимодействия с данными в текщем каталоге -->
                <form action="http://localhost/smartstorage/data/" method="post">
                    
                    <nav class="nav nav-pills flex-column flex-sm-row mb-3">
                        <a class="flex-sm-fill text-sm-center nav-link active disabled" href="#"><!-- .$location --></a>
                        <a class="flex-sm-fill text-sm-center nav-link" href="http://localhost/smartstorage/users/">Список пользователей</a>
                    </nav>     
                    
                        <div class="list-group">    
                              
                            <ul class="list-group ">
                                <li class="list-group-item shadow">
                                    <a class="flex-sm-fill text-lg nav-link" href="http://localhost/smartstorage/levelUp/">/..</a>
                                </li>
                                <!-- data_cycle -->
                                <li class="list-group-item shadow">
                                    <h5><!-- .$name --></h5>
                                    <button type="submit" name="<!-- .$name_action -->" value="<!-- .$id_for_action -->" class=" btn btn-sm btn-outline-success border-2 m-1">
                                        <!-- .$view_action -->
                                    </button>
                                    <button type="submit" name="delete" value="<!-- .$id_for_delete -->" class="btn btn-sm btn-outline-danger border-2 m-1" >
                                        Удалить
                                    </button>
                                </li>
                                <!-- data_cycle_ends -->
                            </ul>
                        </div>
                </form>
            
            </div>
        </div>            
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>